<div class="row">
    <div class="large-12 columns">
        <h1>Let's Learn [Insert Technology Here]!</h1>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
        <button class="button radius" id="delete">Delete World?</button>
    </div>
</div>